<footer>
    <div class="row bg-light w-100 text-center text-muted">
        <div class="col-xs-12">
            <h4>Advertisements</h4>
            <p class="lead pt-4 ">We at Clever-Move offer the best unbeatable prices you could ever wish for!</p>
            <a href="https://www.vecteezy.com/free-vector/car"><small>Car Vectors by Vecteezy</small></a>
            <br>
            <a href="https://www.vecteezy.com/free-vector/vector"><small>Vectors by Vecteezy</small></a>
        </div>
    </div>

    <hr class="my-4" />
    <!-- Our Services ends here-->

    <p class="text-center">© 2021 Created by Clever and Manuel</p>


</footer>