<!-- Button trigger modal -->
<ul class="nav navbar-nav navbar-right">
        <a data-toggle="modal" data-target="#loginModal"><span><i class="fas fa-user"></i></span></a>
</ul>


<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content mx-auto">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalCenterTitle">Login</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-center">
          <form action="/" method="POST">
              <div>
                    <label for="email">Email:</label><br>
                    <input type="email" name="email" id="email" placeholder="example@test.com">
              </div>
              <br>
              <div>
                    <label for="password">Password:</label><br>
                    <input type="password" name="password" id="password" placeholder="Password">
              </div>
              <br>
              <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Login</button>
              </div>                 
          </form>         
      </div>
      <div class="modal-footer d-flex justify-content-center flex-column">
          <div>
              <p>Forgot your password? <a href="#">Click here</a></p>
          </div>
        
        <form action="/signup" method="GET">
            <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
            
   
      </div>     
    </div>
  </div>
</div>