<nav class="navbar navbar-expand-xxl navbar-light nav-bg-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="Logo" width="80px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#about">About Us</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#services">Our Services</a>

                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" {{#if isUserLoggedIn}}href="/schedule" {{else}}data-bs-toggle="modal"
                        data-bs-target="#loginModal" {{/if}}href='/'>Book Schedule</a>
                </li>

                {{#if (isAdmin loggedUser.role)}}
                <li class="nav-item"></li>
                <a class="nav-link text-white" href="/admin-dashboard">Admin-Dashboard</a>
                </li>
                {{/if}}
            </ul>


            <div class="d-flex justify-content-between align-items-center" style="width: 200px; padding:0;">
                {{#if isUserLoggedIn}}
                <form action="/logout" method="POST" class="d-flex">
                    <button type="submit" class="btn btn-outline-light text-light">Logout</button>
                </form>
                <a class="text-light nav-link" style="padding:0" {{#if (isUser
                    loggedUser.role)}}href="/profilepage/schedule" {{/if}}>
                    <h4>{{loggedUser.firstname}}</h4>
                </a>
                {{else}}
                <div class="d-flex">
                    {{> login}}
                </div>

                <form action="/signup" method="GET" class="d-flex">
                    <button type="submit" class="btn btn-light">Sign Up</button>
                </form>
                {{/if}}

            </div>







        </div>
    </div>
</nav>