<a class="btn btn-outline-light btn-lg d-flex flex-column justify-content-center position-absolute top-50 start-50 translate-middle mt-4"
    type="button" id="scheduleButton" {{#if isUserLoggedIn}}href="/schedule" {{else}}data-bs-toggle="modal"
    data-bs-target="#loginModal" {{/if}}href='/'>
    Book Schedule
</a>