       <form action="/schedule" method="GET">
            <button type="submit" id="scheduleButton" class=" btn btn-outline-light btn-lg position-absolute top-50 start-50 translate-middle mt-4" >
              Book A Schedule
            </button>
          </form>