# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# Environment Variables should NEVER be published
.env

# Package-Lock json
package-lock.json

# VS Code configs
.vscode

# jshintrc
.jshintrc
