<div class="row">
    <div class="container-fluid d-flex justify-content-center mt-4">
        <div class="col-sm-10 col-lg-6">
            <div class="card text-center ">
                <h5 class="card-header text-white nav-bg-custom">Sent !</h5>
                <div class="card-body">
                    <h5 class="card-title ">Your Schedule booking is on its way...</h5>
                    <p class="card-text">Please wait patiently for feedback from us! <br> We will respond as soon as
                        possible</p>
                    <a href="/" class="btn button-bg-light">Back</a>

                </div>
            </div>
        </div>
    </div>
</div>