<div class="d-flex justify-content-center pt-4">
    <div class="row col-sm-10 col-md-8 col-lg-6 ">
        <form action="/schedule" method="POST">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label for="firstname" class="control-label">Firstname</label>
                        <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Firstname">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label for="lastname" class="control-label">Lastname</label>
                        <input type="text" class="form-control" name="lastname" id="lastname" placeholder="lastname">
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="form-label "> From :</label>
                <div class="col-md-8">

                    <div class="form-group">

                        <label for="street" class="form-label">Street</label>
                        <input type="text" class="form-control" id="street" placeholder="Street">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="zipCode" class="form-label">Zip Code</label>
                        <input type="text" class="form-control" id="zipCode" placeholder="Zip Code">
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="city" class="form-label">City</label>
                <input type="Text" class="form-control" id="city" placeholder="City">
            </div>

            {{!-- New home address --}}
            <div class="row">
                <label class="form-label "> To :</label>
                <div class="col-md-8">

                    <div class="form-group">

                        <label for="streetTo" class="form-label">Street</label>
                        <input type="text" class="form-control" id="streetTo" placeholder="Street">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="zipCodeTo" class="form-label">Zip Code</label>
                        <input type="text" class="form-control" id="zipCodeTo" placeholder="Zip Code">
                    </div>
                </div>
            </div>
        
             <div class="mb-3">
                <label for="cityTo" class="form-label">City</label>
                <input type="Text" class="form-control" id="cityTo" placeholder="City">
            </div>
            {{!-- New home address ends here --}} 

            <div class="form-group mb-3">
                <label for="datetime" class="form-label">Move date</label>
                <div class='input-group date' id='datetime'>
                    <input type='datetime-local' class="form-control" name="datetime" />
                  
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Request description :</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
           

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1"> <small><a href="#">Terms & conditions.</a></small>
                </label>
            </div>
            <div class="form-group ">
             
                  <button type="submit" id="schedule" class="btn btn-primary btn-lg">Submit</button>
        
            </div>
        </form>
    </div>
</div>