@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


html, body{
    height: 100%;
    width: 100%;
    color:#222;
    font-family: "Poppins", sans-serif;
}

.heading-color{
    color:#1D3561;
}
.navbar{
    padding:1.2rem;
}

.navbar-nav li{
    padding-right:.7rem;
}

.navbar-right > a {
    
    color: gray;
}

.nav-link {
    font-size: 1.1em;
}
#scheduleButton{
    border-radius: 40px;
 }
.button-bg-light, .btn-outline-light:hover, .btn-outline-primary:hover{
    background-color: #4C99FD;
}
.button-bg-dark{
    padding: 10px; background-color: #1D3561
}
.button-bg-dark:hover{
    background-color: #4C99FD;
}
.dashboardWrapper{
    height: 100%"
}
.dashboardWrapper .bg-custom {
    width: 280px; 
    height: 100%; 
    background-color: #1D3561
}
.about-text {
  line-height: 2;
}



/*---Media Queries --*/
@media (min-width: 992px) { 

    .content-hamburger {
        width: 70%;
        margin: auto;
    }
    .navbar .container-fluid{
        width:70%;
    }
    #scheduleButton{
       width:30%;
       height:80px;
       font-size:1.6em;
       border-radius: 40px;
    }
  
   
}

@media (min-width: 577px) {
    #usericon {
        left:96.5%;
   }
}


@media (max-width: 992px) {

}
@media (max-width: 768px) {
 
}
  
@media (max-width: 576px) {

    #usericon {
        left:95%;
   }
 
}


.shadow:before,
.shadow:after {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    background: linear-gradient(45deg, #00d5fb, #a4bddd, #a3e0f0, #00d5fb, #19447c71, #2f8094);
    background-size: 400%;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    z-index: -1;
    animation: animate 10s linear infinite;
}

.shadow:after {
    filter: blur(7px);
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 300% 0;
    }
    100% {
        background-position: 0 0;
    }
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

#logo {
    padding: 0;
}




